@import url(normalize.css);	/* v3.0.2 */
@import url(cf.css);
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* mon style */

.nav {
	background: #000;
	width: 900px;
	margin: 50px auto;
	position: relative;
}
.nav__element {
	float: left;
}
.nav__element > a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #CCC;
}
.nav__element > a:hover, .nav__element:hover > a {
	background-color: #BADA55;
}
.sousnav {
	display: none;
	background-color: #BADA55;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
}
.nav__element:hover .sousnav {
	display: block;
}
.sousnav__element {
	float: left;
}
.sousnav__element > a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
	position: relative;
}
.sousnav__element > a:hover {
	background-color: #B000B5;
}
.sousnav__element > a:after {
	content: "";
	display: block;
	width: 1px;
	height: 14px;
	background: #fff;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 0;
}
.sousnav__element:last-child > a:after {
	content: none;
}